.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
.links a {
  color: #cac7ff;
}
.repository-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.repository-card-scores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
.repository-card-title {
  margin-left: 10px;
}
.repository-card-score {
  margin-left: 6px;
  width: 30px;
  height: 30px;
  position: relative;
}
.repository-card-score::before {
  top: -1rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-100%);
  color: #333;
  padding: 0.5rem;
  border-radius: 0.3rem;
  width: max-content;
  max-width: 500%;
  background: #cac7ff;
}
.final:hover::before {
  content: attr(data-final-score);
}
.popularity:hover::before {
  content: attr(data-popularity-score);
}
.quality:hover::before {
  content: attr(data-quality-score);
}
.maintenance:hover::before {
  content: attr(data-maintenance-score);
}
